@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  background: #3c3a39;
}

.headercontainer {
  padding: 12px 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.content {
  background: #1c1a19;
  padding-top: 20px;
  padding-bottom: 90px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("./images/sideicon.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100px;
  margin-bottom: 50px;
}

.main {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.info1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icon {
  background: #1c1a19;
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-left: 24px;
  margin-top: -190px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.headercontainer a {
  text-decoration: none;
  color: #fff;
}

.box1 {
  padding: 12px 24px;
  display: grid;
  margin-bottom: 100px;
}

.section-title1 {
  text-align: center;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.section-title2 .vec-img {
  padding-right: 24px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.lan {
  display: flex;
  align-items: center;
  background: #fff;
  gap: 10px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.lan li {
  border: 1px solid #8993a4;
  height: 40px;
  padding-top: 10px;
}

.lan .css {
  width: 49px;
}

.lan .html {
  width: 59px;
}

.lan .bootstrap {
  width: 95px;
}

.lan .ruby {
  width: 61px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.btn {
  text-decoration: none;
  border: 1px solid #ff6b00;
  background: #ff6b00;
  padding: 8px 12px;
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #ff6b00;
}

.btn:active {
  background: #e05304;
  color: #fff;
}

.btn:disabled {
  background: #fff;
  color: #1c1a19;
}

.btn2 {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  background: #ff6b00;
  color: #fff;
  padding: 12px 12px;
  border: 1px solid black;
}

.btn2:hover {
  background: #fff;
  color: #ff6b00;
}

.btn2:active {
  background: #e05304;
  color: #fff;
}

.btn2:disabled {
  background: #fff;
  color: #1c1a19;
}

.box3 {
  background: #1c1a19;
  padding-top: 20px;
  padding-bottom: 90px;
}

.aboutme-container {
  background-size: 100px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("./images/corner.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 100px;
}

.aboutme-container h1 {
  font-family: "Crete round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutme-container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.vec1-img {
  margin-top: 20px;
}

.btn3 {
  text-decoration: none;
  border: 1px solid #ff6b00;
  background: #ff6b00;
  padding: 8px 12px;
  color: #fff;
}

.btn3:hover {
  background: #fff;
  color: #ff6b00;
}

.btn3:active {
  background: #e05304;
  color: #fff;
}

.btn3:disabled {
  background: #fff;
  color: #1c1a19;
}

.lan2 {
  padding-top: 100px;
  padding-right: 20px;
  margin-left: -20px;
  margin-bottom: -20px;
}

.head-1 {
  font-family: "InaiMathi", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-right: 10px;
}

.head-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  justify-content: center;
  line-height: 43px;
  display: flex;
  text-align: center;
  color: #fff;
}

.project-container {
  background-image: url("./images/ImgPlaceholder\(2\).svg");
  height: 386px;
  color: #fff;
}

.project-container h2 {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 75px;
  width: 295px;
  height: 81px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.project-container p {
  width: 295px;
  height: 87px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
}

.lan1 {
  display: flex;
  padding-left: 24px;
  gap: 5px;
  align-items: center;
}

.hh {
  padding-top: 10px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.24);
  width: 56px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.hk {
  padding-top: 10px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.24);
  width: 70px;
  height: 40px;
  font-family: "Inter" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 12px 24px;
  justify-content: center;
}

form h2 {
  text-align: center;
}

.input-1 {
  width: 295px;
  height: 18px;
  margin-bottom: 5%;
  padding: 0 0 2% 20px;
  border-bottom: 1px solid #dbd8d7;
}

/* .form-container div{
justify-items: center;
} */

.but-1 {
  text-align: center;
  padding: 8px 10px;
  background-color: #ff6b00;

  color: #fff;
  border: none;
}

input {
  border: none;
}

textarea {
  width: 327px;
  background: #fbf8f7;
  border: none;
}

input[type="textarea"]::placeholder {
  margin-right: -20px;
}

.social-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.trial {
  color: red;
}
