@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.works {
  background: #fff;
  display: grid;
  padding-left: 24px;
  padding-right: 24px;
}

.jobs {
  font-family: "Crete Round", sans-serif;
  text-align: center;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 80px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  padding-bottom: 10%;
}

.cx {
  padding-left: 24px;
  padding-right: 24px;
}

.dont {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  gap: 5px;
  margin-top: -5px;
  margin-left: -20px;
}

.lang li {
  border: 1px solid #091e42;
  height: 25px;
  padding-top: 5px;
  width: 50px;
  padding-left: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

a.bt {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: 0.6s;
}

.bt {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  width: 100px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bt:hover {
  background: #fff;
  color: #ff6b00;
}

.bt:active {
  background: #e05304;
  color: #fff;
}

.bt:disabled {
  background: #fff;
  color: #1c1a19;
}

.bam {
  display: flex;
  flex-wrap: wrap;
}

.sam {
  width: 100%;
}

.img {
  width: 100%;
  display: flex;
}

.broda {
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 61.94%
    ),
    url(./placeholders/Img\ Placeholder2.svg) center center;
  padding-top: 50px;
  color: #fff;
}

.bros {
  padding: 12px 24px;
}

h3.bros {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

p.bros {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-family: 'inter', sans-serif;
}

.pr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  gap: 5px;
  margin-top: -5px;
}

.pr li {
  border: 1px solid #fff;
  height: 25px;
  padding-top: 5px;
  width: 50px;
  padding-left: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.header {
  background: #3c3a39;
}

.nav {
  padding: 12px 24px;
  height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.content {
  background: #1c1a19;
  padding-top: 20px;
  padding-bottom: 90px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("./images/sideicon.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100px;
  margin-bottom: 50px;
}

.main {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.info1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.icon {
  background: #1c1a19;
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-left: 24px;
  margin-top: -190px;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: #fff;
}

.section-title2 .vec-img {
  padding-right: 24px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.btn7 {
  background: #ff6b00;
  padding: 12px 12px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: 0.6s;
}

.btn7:hover {
  background: #fff;
  color: #ff6b00;
}

.btn7:active {
  background: #e05304;
  color: #fff;
}

.btn7:disabled {
  background: #fff;
  color: #1c1a19;
}

.box3 {
  background: #1c1a19;
  padding-top: 20px;
  padding-bottom: 90px;
}

.aboutme-container {
  background-size: 100px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url("./images/corner.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 100px;
}

.aboutme-container h1 {
  font-family: "Crete round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutme-container p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.vec1-img {
  margin-bottom: 20px;
}

.btn3 {
  text-decoration: none;
  border: 1px solid #ff6b00;
  background: #ff6b00;
  padding: 8px 12px;
  color: #fff;
}

.btn3:hover {
  background: #fff;
  color: #ff6b00;
}

.btn3:active {
  background: #e05304;
  color: #fff;
}

.btn3:disabled {
  background: #fff;
  color: #1c1a19;
}

.lan2 {
  padding-top: 100px;
  padding-right: 20px;
  margin-left: -20px;
  margin-bottom: -20px;
}

.head-1 {
  font-family: "InaiMathi", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-right: 10px;
}

.head-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  justify-content: center;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

form h2 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  padding: 12px 24px;
  justify-content: center;
}

.big h2 {
  text-align: center;
  padding: 1rem;
  width: 90%;
  color: #172b4d;
  font-size: 32px;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.input-1 {
  width: 295px;
  height: 18px;
  margin-bottom: 5%;
  padding: 0 0 2% 20px;
  border-bottom: 1px solid #dbd8d7;
}

.but-1 {
  text-align: center;
  padding: 8px 10px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
}

input {
  border: none;
}

textarea {
  width: 327px;
  background: #fbf8f7;
  border: none;
}

.socialhandles {
  margin-top: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.linebtn {
  height: 1px;
  border: none;
  background: #dfe1e6;
  margin-top: 40px;
  margin-bottom: -60px;
}

.socialhandles svg path {
  fill: #505f79;
}

.trial {
  color: red;
}

.input-1 input {
  margin-left: -20px;
}

.menu1 {
  display: none;
}

.linenew1 {
  display: none;
}

@media (min-width: 760px) {
  .big {
    margin-top: 5%;
    display: flex;
    padding-left: 10%;
  }

  .kk {
    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
  }

  .works {
    display: grid;
  }

  .jobs {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    border-bottom: none;
    transition-delay: 0.4s;
    transition-duration: 0.5s;
    margin-top: 20px;
    padding-bottom: none;
  }

  .jobs:hover {
    font-size: 40px;
  }

  .cx {
    display: flex;
    margin-top: -50px;
    border-bottom: none;
    align-items: flex-start;
  }

  .cx div {
    margin: 10px;
    align-items: flex-start;
  }

  .kk h2 {
    justify-content: left;
    text-align: left;
  }

  .mo {
    padding-left: 5%;
  }

  .iu {
    padding-right: 10%;
  }

  .lang li {
    transition: 0.5s;
  }

  .menu1 li {
    text-align: right;
  }

  .lang li:hover {
    background: black;
    color: #fff;
  }

  .dan {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
  }

  .sam {
    width: 30%;
    margin: 10px;
  }

  .sl {
    transition: opacity 0.2s;
  }

  .sl:hover {
    opacity: 0;
  }

  .img {
    width: 364px;
    height: 250px;
  }

  nav {
    display: none;
  }

  .menu1 {
    display: flex;
    gap: 10px;
  }

  .content {
    background-image: url("./header.svg");
    background-size: 350px;
    display: flex;
    align-items: center;
    background-position: center right;
  }

  .social {
    display: inline-block;
    order: 1;
    margin-left: -50px;
    margin-right: 40px;
  }

  .nav {
    padding-right: 10%;
    padding-left: 10%;
  }

  .page1 {
    order: 2;
  }

  .info {
    width: 350px;
    font-size: 20px;
    line-height: 32px;
  }

  .info1 {
    width: 400px;
  }

  .languages {
    display: flex;
  }

  .languages ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hello {
    font-size: 50px;
    width: 450px;
  }

  .head-1 {
    font-size: 28px;
  }

  /* .lan2 li{
    text-align: left;
  } */

  .aboutme-container {
    background-size: 300px;
    padding-left: 24px;
    padding-right: 24px;
    background-image: url("./bg3.svg");
    background-repeat: no-repeat;
    background-position: center right;
    padding-bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .aboutme-container {
    text-align: left;
    background-image: url('./bottom.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 600px;
    padding-left: 10%;
  }

  .aboutme-container h2 {
    text-shadow: 2px 2px 2px #cfcfcf;
  }

  .aboutme-container p {
    font-size: 25px;
    width: 600px;
    line-height: 32px;
    font-weight: 400;
  }

  .hello {
    font-size: 40px;
  }

  .btn3 {
    text-align: right;
  }

  .img {
    width: 684px;
    height: 448px;
  }

  .content {
    background-image: url("./header.svg");
    background-size: 500px;
    display: flex;
    align-items: center;
  }

  .info {
    width: 550px;
    font-size: 20px;
    line-height: 32px;
  }

  .lan2 li {
    text-align: left;
    margin-left: 120px;
  }

  .head-1 {
    font-size: 35px;
  }

  .head-2 {
    font-size: 25px;
  }

  .big h2 {
    width: 35%;
  }

  .but-1 {
    text-align: left;
    margin-left: -200px;
    background-color: #ff6b00;
    color: #fff;
    border: none;
  }

  .btn99 {
    margin-left: -22%;
  }

  .socialhandles {
    padding-left: 350px;
  }

  .kk {
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 1%;
  }

  .linenew1 {
    float: right;
    width: 70%;
    margin-bottom: 70px;
    display: flex;
    justify-content: flex-end;
  }

  .jobs {
    border-bottom: none;
    padding-bottom: 0;
  }
}
